---
export const prerender = false;

import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { getHeaderLinks } from "@/lib/get-header-links";
import { getWrappedSdk } from "@/lib/get-wrapped-sdk";
import { getTypedTableData } from "@/lib/get-typed-table-data";
import { Image } from "astro:assets";
import magicalDisneyMarktLogo from "@/images/magical_disney_markt_logo.svg";
import EventInfo from "@/components/EventInfo.astro";
import CosplayerGrid from "@/components/CosplayerGrid.astro";
import PhotographerGrid from "@/components/PhotographerGrid.astro";

const sdk = getWrappedSdk();
const { data } = await sdk.Layout();
const {
  data: { disneyMarket },
} = await sdk.DisneyMarket();
const {
  data: { cosplayers },
} = await sdk.Cosplayers();
const {
  data: { photographers },
} = await sdk.Photographers();

const FOOD_ITEMS = [
  { icon: "🍟", text: "Fries with snacks" },
  { icon: "🍔", text: "Hamburgers, Bickyburger,..." },
  { icon: "🌭", text: "Bratwurst" },
  { icon: "🍕", text: "Pizza" },
  { icon: "🍝", text: "Pasta" },
  { icon: "🍦", text: "Ice Cream" },
];

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=1800, s-maxage=1800"
);
---

<Layout
  title={disneyMarket!.seo!.metaTitle}
  description={disneyMarket!.seo!.metaDescription}
  headerLinks={getHeaderLinks(data)}
  class="bg-amber-300"
>
  <Hero
    bgColorClass="bg-blue-500"
    gradientClass="from-yellow-200 to-orange-200"
    text={disneyMarket!.seo!.metaDescription}
    class="text-white"
  >
    <Image
      slot="logo"
      src={magicalDisneyMarktLogo}
      height="300"
      width="480"
      alt="Magical Disney Markt logo"
      widths={[240, 540, 720, magicalDisneyMarktLogo.width]}
    />
  </Hero>
  <EventInfo
    target="19 April 2026 12:00:00"
    day="19 April 2026"
    time="12:00 - 17:00"
    location="Belgium - GC Klein Boom, Mechelbaan 604, 2580 Putte"
    price="€ 1 entry via cash / Payconiq at the entrance"
  >
    <a
      slot="cta-button"
      href="https://magical-verzameldisney-markt.eventsquare.store/6jyc5evix7p8"
      target="_blank"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded self-start mt-2"
    >
      Buy VIP ticket
    </a>
  </EventInfo>
  <Section
    headingGradientClass="from-cyan-500 to-blue-500"
    title="Food for all"
    subText="Buy your food & drinks for fair prices!"
  >
    <div
      slot="content"
      class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
    >
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {
          FOOD_ITEMS.map(({ icon, text }) => (
            <div class="bg-[#fffffe] rounded-lg p-6">
              <h3 class="font-bold pb-4">{text}</h3>
              <p class="text-5xl">{icon}</p>
            </div>
          ))
        }
      </div>
    </div>
  </Section>
  <Section
    headingGradientClass="from-cyan-500 to-blue-500"
    title="Cosplayers"
    class="bg-white"
  >
    <div slot="content" class="container max-w-5xl mx-auto">
      <CosplayerGrid cosplayers={cosplayers} />
    </div>
  </Section>

  {
    disneyMarket?.sections?.map((section, i) => (
      <Section
        headingGradientClass="from-cyan-500 to-blue-500"
        title={section!.title}
        subText={section!.subText!}
        text={section!.text!}
        {...(i % 2 !== 0 && { class: "bg-white" })}
      >
        {section!.Images.length ? (
          <div
            slot="content"
            class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
          >
            <div class="flex gap-10 flex-col md:flex-row">
              {section!.Images.map((image) => (
              <div>
                <Image
                  src={image!.url}
                  alt={image?.alternativeText ?? image!.name}
                  quality={90}
                  width={image!.width!}
                  height={image!.height!}
                  class="rounded-lg max-w-96"
                />
                <p class="text-lg mt-4">{image!.caption}</p>
              </div>
              ))}
            </div>
          </div>
        ) : null}
        {section?.table ? (
          <div
            slot="content"
            class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
          >
            <table class="md:table-auto table-fixed text-center md:text-left w-full">
              <thead>
                <tr>
                  {getTypedTableData(section.table).columns.map((column) => (
                    <th class="md:px-6">{column.label}</th>
                  ))}
                </tr>
              </thead>
              <tbody>
                {getTypedTableData(section.table).rows.map((row) => (
                  <tr>
                    {row.map((content) => (
                      <td class="md:px-6">{content}</td>
                    ))}
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        ) : null}
      </Section>
    ))
  }

  <Section
    headingGradientClass="from-cyan-500 to-blue-500"
    title="Photographers"
    class="bg-white"
  >
    <div
      slot="content"
      class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
    >
      <PhotographerGrid photographers={photographers} />
    </div>
  </Section>
</Layout>
