---
import Layout from "@/layouts/Layout.astro";
import { getHeaderLinks } from "@/lib/get-header-links";
import { getWrappedSdk } from "@/lib/get-wrapped-sdk";
import { Image } from "astro:assets";
import magicalCosplayConLogo from "@/images/magical_cosplay_con_logo.svg";
import magicalDisneyMarktLogo from "@/images/magical_disney_markt_logo.svg";
import magicalHobbyBeursLogo from "@/images/magical_hobby_beurs_logo.jpg";

const sdk = getWrappedSdk();
const { data } = await sdk.Layout();
---

<Layout
  title={data.global?.siteName}
  description={data.global?.siteDescription}
  headerLinks={getHeaderLinks(data)}
>
  <div
    class="md:absolute inset-0 z-0 bg-[url(/background.png)] bg-cover bg-no-repeat bg-fixed bg-center text-white h-screen w-screen"
  >
    <div class="place-content-center text-center h-screen">
      <div class="flex md:flex-row flex-col justify-center items-center">
        <div>
          <a href="/cosplay-con">
            <Image
              src={magicalCosplayConLogo}
              class="hover:opacity-80 mb-10"
              height="300"
              width="480"
              alt="Magical Cosplay Con logo"
              widths={[240, 540, 720, magicalCosplayConLogo.width]}
            />
          </a>
          <a
            href="/cosplay-con"
            class="bg-gradient-to-r from-blue-800 to-indigo-900 hover:opacity-80 text-white font-bold px-5 py-2.5 rounded-full"
          >
            Enter
          </a>
        </div>

        <div class="md:mx-20">
          <a href="/cosplay-con">
            <Image
              src={magicalDisneyMarktLogo}
              class="hover:opacity-80 mb-10"
              height="300"
              width="480"
              alt="Magical Disney Markt logo"
              widths={[240, 540, 720, magicalDisneyMarktLogo.width]}
            />
          </a>
          <a
            href="/disney-markt"
            class="bg-gradient-to-r from-blue-800 to-indigo-900 hover:opacity-80 text-white font-bold px-5 py-2.5 rounded-full"
          >
            Enter
          </a>
        </div>

        <div>
          <a href="/magical-hobby-beurs">
            <Image
              src={magicalHobbyBeursLogo}
              class="hover:opacity-80 mb-10"
              height="300"
              width="480"
              alt="Magical Hobby Beurs Logo"
              widths={[240, 540, 720, magicalHobbyBeursLogo.width]}
            />
          </a>
          <a
            href="/magical-hobby-beurs"
            class="bg-gradient-to-r from-blue-800 to-indigo-900 hover:opacity-80 text-white font-bold px-5 py-2.5 rounded-full"
          >
            Enter
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
